{% extends 'layout.html' %} {% block title %}Profile{% endblock %} {% block
content %}
<h2>Profile Page</h2>
<div>
  <p>Your account details are below:</p>
  <h1>Username</h1>
  <h2>{{username}}</h2>
  <table>
    <thead>
      <th>Expression</th>
      <th>Result</th>
    </thead>

    <tbody>
      {%- for row in items %}
      <tr>
        <td>{{ row["expression"] }}</td>
        <td>{{ row["result"] }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
